/* You can add global styles to this file, and also import other style files */
html{
    margin: 0px;
    padding: 0px;
}

body{
    margin:0px;
    padding: 0px;
    content: '';
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y:auto;
    overflow-x: hidden;
}